body{
    background-image: url(../images/bg08.jpg);
    background-attachment: fixed;
    background-size: cover;
    
  }
  #loginFormDiv, #regFormDiv{
    margin-top:70px;
    
  }
  .myForm{
    margin: 100px ;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Alike";
    color: white;
    font-size: 1.5vw;
  }

  .myForm h1{
      border-bottom: 2px outset white;
      padding-bottom: 5px;
      
  }