
#profileimg{
    width:10%;
    height:10%;
    margin-top:10px;
}
#userDetail{
    margin-top:70px;
}

#userDetail h1{

    font-family: 'Alike';
}

#userDetail p{

    font-family: 'Asul';
    font-size: 1.25vw;
}

.center-block {
    margin:auto;
    display:table;
 }
 
#fun{
    padding-top:10px;
    padding-bottom:20px;
    margin-top:0
}

